doctype html
html
    head
        title= title

        script(src='/jquery/dist/jquery.min.js')
        script(src='/constant.js')

    body

        .cook-wrap(length="#{cook.process.length}")
            .article
                .articleImage
                    img(src="/images/main/#{cook.id}.jpg")

                .articleContent

                    .head
                        .head-text
                            .cite-text #{cook.cite}
                            .name-text #{cook.name}

                    .center
                        .infos
                            .info
                                i.icon.material-icons timer
                                .info-text #{cook.time}분
                            .info
                                i.icon.material-icons restaurant
                                - var difficulty = cook.difficulty
                                .info-text #{difficulty}
                            .info
                                img(src='/images/kcal.png', width='56')
                                - var kcal = cook.kcal
                                - if(kcal=='NA') kcal = ' X '
                                .info-text #{kcal}

                    .ingredients
                        .ingredient
                            .ingredient-title 주재료
                            .ingredient-text #{cook.ingredient_main}

                    .ingredients
                        .ingredient
                            - var ingredient = cook.ingredient_sub
                            - if(ingredient=='NA') ingredient = ' 부재료 없음 '
                            .ingredient-title 부재료
                            .ingredient-text #{ingredient}

                    .button-wrap
                        .process.btn
                            h2 조리법 보러가기 >
                            i.material-icons


    - for (var i = 0 ; i < cook.process.length ; i++)
        .process-wrap(description='#{cook.process[i]}')
            process
                .left-side
                    .back.btn(index='#{i}')
                        i.btn.material-icons chevron_left
                .center-side
                    .image-wrapped
                        img(src="/images/process/#{cook.id}_#{i+1}.jpg")
                    .description-wrapped
                        .descript #{cook.process[i]}
                .right-side
                    .next.btn(index='#{i}')
                        i.btn.material-icons chevron_right


    .speechFrame


    link(rel='stylesheet', href='/stylesheets/cook.css')
    script(src='/recognization.js')
    script(src='/cook.js')
