doctype html
html
    head
        title= title

        script(src='/jquery/dist/jquery.min.js')
        script(src='/constant.js')

    body

        .cook-wrap(length="#{cook.process.length}")
            .article
                .articleImage
                    img(src="/images/main/#{cook.id}.jpg")

                .articleContent
                    .head
                        .name-text #{cook.name}

                    ul.info
                        li
                            strong 시간
                        p #{cook.time}

                        li
                            strong 칼로리
                        - var kcal = cook.kcal
                        - if(kcal=='NA') kcal = ' 칼로리 정보 없음 '
                        .kcal-text #{kcal}

                        li
                            strong 난이도

                    .ingredients
                        .ingredient
                            .ingredient-title 주재료
                            .ingredient-text #{cook.ingredient_main}

                    .ingredients
                        .ingredient
                            .ingredient-title 부재료
                            .ingredient-text #{cook.ingredient_sub}


            .button-wrap
                .process.btn

    - for (var i = 0 ; i < cook.process.length ; i++)
        .process-wrap(description='#{cook.process[i]}')
            img(src="/images/process/#{cook.id}_#{i+1}.jpg")
            .descript #{cook.process[i]}

            .next.btn(index='#{i}') next
            .back.btn(index='#{i}') back

    .speechFrame


    link(rel='stylesheet', href='/stylesheets/cook.css')
    script(src='/cook.js')
